{#
    This file is part of the AMP Twig theme.

    (c) Beñat Espiña <benatespina@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{% extends '@AMP/app.html.twig' %}

{%- block canonical -%}{{ url('page') }}{%- endblock canonical -%}

{%- block styles -%}
    .menu {
        width: 40%;
    }

    .menu__content {
        display: flex;
        flex-direction: column;
    }

    .menu__close-button {
        align-self: flex-end;
    }

    .content {
        display:grid;
        grid-template-areas:
            "header header header header"
            "main main sidebar ."
            "footer footer footer footer";
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        max-width: 1280px;
    }

    .header {
        grid-area: header;
    }

    .main {
        grid-area: main;
        padding-right: calc(15px / 2);
    }

    .aside {
        grid-area: sidebar;
        padding-left: calc(15px / 2);
    }

    .footer {
        grid-area: footer;
        margin-left: -15px;
        margin-right: -15px;
    }

    form.amp-form-submit-success [submit-success],
    form.amp-form-submit-error [submit-error] {
        margin-top: 16px;
    }

    form.amp-form-submit-success [submit-success] {
        color: green;
    }

    form.amp-form-submit-error [submit-error] {
        color: red;
    }

    form.amp-form-submit-success.hide-inputs > input {
        display: none;
    }
{%- endblock styles -%}

{% set extensions_enabled = [
    'amp-ad',
    'amp-analytics',
    'amp-gist',
    'amp-form',
    'amp-iframe',
    'amp-sidebar',
    'amp-youtube'
] %}

{%- block sidebar -%}
    {% embed '@AMP/components/menu.html.twig' %}
        {% block menu_content %}
            <ul>
                <li>Nav item 1</li>
                <li>Nav item 2</li>
                <li>Nav item 3</li>
                <li>Nav item 4</li>
                <li>Nav item 5</li>
                <li>Nav item 6</li>
            </ul>
        {% endblock menu_content %}
    {% endembed %}
{%- endblock sidebar -%}

{%- block content -%}
    <header class="header">
        <h1>This is the the header of the document</h1>
    </header>
    <main class="main">
        <section>
            <h2>This is the first section of the main</h2>
            <p>
                {% embed '@AMP/components/extensions/form.html.twig' with {
                    form_action: 'https://ampbyexample.com/components/amp-form/submit-form-input-text-xhr',
                    form_method: 'post',
                    form_target: '_top',
                    form_custom_validation_reporting: 'show-all-on-submit',
                    form_on: [{'submit': 'success-lightbox'}]
                } %}
                    {%- block form_content -%}
                        {% include '@AMP/components/form_group.html.twig' with {
                            form_group_id: 'show-all-on-submit-name',
                            form_group_placeholder: 'Name...',
                            form_group_pattern: '\\w+\\s\\w+',
                            form_group_required: true,
                            form_group_type: 'text',
                            form_group_validations: {
                                'valueMissing': '',
                                'patternMismatch': 'This is custom validation message'
                            }
                        } %}
                        {% include '@AMP/components/form_group.html.twig' with {
                            form_group_id: 'show-all-on-submit-email',
                            form_group_placeholder: 'Email...',
                            form_group_required: true,
                            form_group_type: 'email',
                            form_group_validations: {
                                'valueMissing': '',
                                'typeMismatch': 'The email must have the @ symbol'
                            }
                        } %}
                        <input type="submit" value="Send">
                    {%- endblock form_content -%}
                {% endembed %}
            </p>
            {% include '@AMP/components/builtins/img.html.twig' with {
                img_src: '/images/01.jpg',
                img_layout: 'nodisplay',
                img_height: 10,
                img_width: 20
            } %}
        </section>
        <section>
            <h2>This is the second section of the main</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
            {% include '@AMP/components/extensions/iframe.html.twig' with {
                iframe_src: 'https://benatespina.com',
                iframe_height: 20,
                iframe_width: 30
            } %}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </section>
        <section>
            <h2>This is the third section of the main</h2>
            <p>The following youtube video does not have the autoplay enabled</p>
            {% include '@AMP/components/extensions/youtube.html.twig' with {
                youtube_data_videoid: 'hWrWmU6VclA',
                youtube_height: '20',
                youtube_width: '30'
            } %}
            <p>This one has the autoplay enabled</p>
            {% include '@AMP/components/extensions/youtube.html.twig' with {
                youtube_data_videoid: 'hWrWmU6VclA',
                youtube_autoplay: true,
                youtube_height: '20',
                youtube_width: '30'
            } %}
        </section>
    </main>
    <aside class="aside">
        <section>
            {% include '@AMP/components/builtins/img.html.twig' with {
                img_src: '/images/02.jpg',
                img_srcset: '/images/03.jpg 640w,/images/04.jpg 320w',
                img_layout: 'responsive',
                img_height: 20,
                img_width: 30
            } %}
        </section>
        <section>
            <h2>This is the first section of the aside</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
            {% include '@AMP/components/builtins/pixel.html.twig' with {
                pixel_src: 'https://google.com'
            } %}
        </section>
        <section>
            <h2>This is the second section of the aside</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </section>
        <section>
            {% include '@AMP/components/extensions/gist.html.twig' with {
                gist_data_gistid: 'a19e811dcd7df10c4da0931641538497',
                gist_height: 40,
                gist_data_file: 'hi.c'
            } %}
            {% embed '@AMP/components/extensions/ad.html.twig' with {
                ad_type: 'adsense',
                ad_type_data_attributes: {
                    'data-ad-client': 'ca-pub-2005682797531342',
                    'data-ad-slot': '7046626912'
                },
                ad_height: '200px',
                ad_width: '200px'
            } %}
                {% block ad_placeholder %}
                    <div placeholder>Loading ...</div>
                {% endblock %}

                {% block ad_fallback %}
                    <div fallback>No ad for you</div>
                {% endblock %}
            {% endembed %}
        </section>
    </aside>
    <footer class="footer">
        {% include '@AMP/components/builtins/img.html.twig' with {
            img_src: '/images/01.jpg',
            img_height: 10,
            img_width: 70
        } %}
    </footer>
{%- endblock content -%}

{%- block analytics -%}
    {% include '@AMP/components/extensions/analytics.html.twig' with {
        analytics_json_content: {
            "vars": {
                "account": "UA-XXXXX-Y"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    } %}
{%- endblock analytics -%}
