# This file is part of the AMP Twig theme.
#
# (c) Beñat Espiña <benatespina@gmail.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=7519343fd819155233c73f34e7d54fcf
###< symfony/framework-bundle ###
