{#
    This file is part of the AMP Twig theme.

    (c) Beñat Espiña <benatespina@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{##
    This componenet will display a form group composed by "form_label", "form_input" and "form_error".

    @param  form_group_required           bool=false
    @param  form_group_id                 string=*
    @param  form_group_label_class_name   string
    @param  form_group_label_modifiers    string
    @param  form_group_label_content      html
    @param  form_group_error_content      string
    @param  form_group_error_modifiers    array|string
    @param  form_group_class_name         string
    @param  form_group_modifiers          array|string
    @param  form_group_pattern            string
    @param  form_group_placeholder        string*
    @param  form_group_type               string=text
#}

<div class="form-group-input">
    {% if  form_group_label_content|default %}
        <div class="form-group-input__label">
            {% include '@AMP/components/form_label.html.twig' with {
                form_label_for: form_group_id,
                form_label_required: form_group_required,
                form_label_class_name: form_group_label_class_name,
                form_label_modifiers: form_group_label_modifiers,
                form_label_content: form_group_label_content
            } %}
        </div>
    {% endif %}

    {% include '@AMP/components/form_input.html.twig' with {
        form_input_type: form_group_type,
        form_input_id: form_group_id,
        form_input_class_name: form_group_class_name|default,
        form_input_pattern: form_group_pattern|default,
        form_input_modifiers: form_group_modifiers|default,
        form_input_placeholder: form_group_placeholder,
        form_input_required: form_group_required
    } %}

    {% if  form_group_validations is defined %}
        {% set form_group_error_content = '' %}
        {% for validation, message in form_group_validations %}
            {% set form_group_error_content = form_group_error_content ~ '<span visible-when-invalid="' ~ validation ~ '" validation-for="' ~ form_group_id ~ '">' ~ message ~ '</span>' %}

            <div class="form-group-input__error">
                {% include '@AMP/components/form_error.html.twig' with {
                    form_error_content: form_group_error_content,
                    form_error_modifiers: form_group_error_modifiers|default
                } %}
            </div>
        {% endfor %}
    {% elseif form_group_error_content|default %}
        <div class="form-group-input__error">
            {% include '@AMP/components/form_error.html.twig' with {
                form_error_content: form_group_error_content,
                form_error_modifiers: form_group_error_modifiers|default
            } %}
        </div>
    {% endif %}
</div>
