{#
    This file is part of the AMP Twig theme.

    (c) Beñat Espiña <benatespina@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{##
    A component that displays the form error associated error.

    @param form_error_class          string
    @param form_error_content        string|html*
#}

{% set class = form_error_class|default ? 'class=form-error ' ~ form_error_class : 'class=form-error' %}

<p {{ class }}>{{ form_error_content|raw }}</p>
