{#
    This file is part of the AMP Twig theme.

    (c) Beñat Espiña <benatespina@gmail.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#}

{##
    A component that displays the form label.

    @param form_label_class            string
    @param form_label_content          string|html*
    @param form_label_for              string
    @param form_label_required         boolean=false
#}

{% set form_label_required = form_label_required|default(false) %}

{% set class = form_label_class|default ? 'class=form-label ' ~ form_label_class : 'class=form-label' %}
{% set for = form_label_for ? 'for=' form_label_for %}
{% set required = form_label_required ? 'required' %}

<label {{ class }} {{ for }}>
    {% if required %}<span class="form-label__required">*</span>{% endif %}
    {{ form_label_content|raw }}
</label>
